$black: #000;
$white: #fff;
$red: #ff0000;
$blue: #0000ff;
$default: #888da8;
$theme: #ff5e3a;

/*----------------------------------------------------------------
Generalization
-----------------------------------------------------------------*/

.width-100 {
    width: 100px;
}

.width-130 {
    width: 130px;
}

.icon-size {
    width: 20px !important;
    height: 18px !important;
}

.edit-post-modal .options-message {
    width: 20px !important;
    height: 18px !important;
    border-radius: 0 !important;
}

.post-type-icon .post-type {
    width: 18px !important;
    height: 16px !important;
    border-radius: 0 !important;
    margin-left: 3px;
}

.margin-top-5 {
    margin-top: 5px;
}

.padding-top-40 {
    padding-top: 40px;
}

// react list
.parent {
    position: relative;
    top: 0;
    left: 0;
}
.image-left {
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
}
.image-right {
    position: absolute;
    z-index: 2;
    left: 10px;
}

.no-margin-right {
    margin-right: 0px !important;
}

.no-margin-left {
    margin-left: 0px !important;
}

.display-none {
    display: none;
}

.display-inline {
    display: inline;
}

.cursor-pointer {
    cursor: pointer;
}

/*----------------------------------------------------------------
Login and Register page
-----------------------------------------------------------------*/

.btn-social {
    color: $white;
    font-weight: 700;
    background: $theme;
    border: $theme;
}

.btn-social {
    color: $white;
    font-weight: 700;
    background: $theme;
    border: $theme;
}
.btn-social:hover,
.btn-social:focus,
.btn-social:active {
    color: $white;
    background: $theme;
}
.btn-social:focus {
    background: $theme;
}

.btn-social:active:focus {
    background: $theme;
}

.form-box button {
    margin-top: 20px;
}

.form-box button[type="submit"] {
    width: 100%;
}

.reply {
    float: right;
    margin-right: 15px;
}

.login.form-box {
    height: 400px;
}

.register.form-box {
    height: 500px;
    top: 40%;
}

/*----------------------------------------------------------------
Forgot password page
-----------------------------------------------------------------*/

.email.form-box {
    width: 450px;
    height: 280px;
}

/*----------------------------------------------------------------
Social page
-----------------------------------------------------------------*/

.left-menu-title {
    padding-left: 10px;
}

textarea:focus,
input:focus {
    outline: none;
}

.post-status.title {
    padding-right: 200px;
}

.video-thumb .play-icon {
    width: auto;
    display: inline;
}

.w-last-video,
.video-player {
    .play-icon {
        width: auto;
        display: inline;
        padding-left: 5px;
    }
}

.olymp-three-dots-icon img {
    width: auto;
}

.btn-control.btn-more img {
    vertical-align: middle;
    padding-bottom: 8px;
}

.change-profile {
    width: 200px;
    float: right;
    font-size: inherit;
    margin-top: 10px;
}

.w-search {
    :focus {
        outline: none;
    }
    button img {
        margin-right: 0px;
    }
}

.post-add-icon span {
    color: $theme;
}

.remember-me {
    cursor: pointer;
}

.add-photo {
    padding-right: 0px;
}

.dropdown img {
    padding-top: 6px;
    float: right;
}

.mark-all {
    float: right;
    margin-top: 8px;
    :hover {
        color: $theme;
    }
}

.post-type {
    display: inline-block;
    width: 120px !important;
    margin-right: 15px;
    float: right;
}

.bootstrap-select > .dropdown-toggle {
    padding: 0.6rem 0.8rem !important;
}

.form-group.label-floating
    .bootstrap-select.btn-group
    .dropdown-toggle
    .filter-option {
    top: 2px !important;
}

.news-feed-form.single-post {
    overflow: auto;
}

.more-comments:hover {
    color: $theme;
}

#editPostModal img:not(.avatar) {
    width: auto;
    height: auto;
    border-radius: 0;
}

.personal .dropdown-toggle {
    padding: 0.97rem 1rem !important;
    font-size: 0.875rem;
}

.date-time-picker input {
    padding: 1rem 1.1rem 1.025rem !important;
}

.save-changes {
    float: right;
}

.show-post {
    font-size: 0.812rem;
    font-weight: 400 !important;
    line-height: 1.5;
    color: $default;
}

.show-post:hover {
    color: $theme;
}

.no-more {
    margin-bottom: 20px;
}

.friend-icon {
    margin-right: 25px;
}

.is-friend {
    border: 2px solid #fff;
}

.friend-check {
    margin-left: 5px;
    margin-bottom: 2px;
    color: #38a9ff;
}

.post-share {
    margin-left: 20px;
    border: 2px solid #e6ecf5;
    border-radius: 0.3rem;
    padding: 20px;
    background-color: #e6ecf5;
}

.add-options-message {
    float: none;
}

#sharePostModalLabel img {
    margin-right: 12px;
}

.input-image {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

label:hover {
    @extend .cursor-pointer;
}

.add-options-message {
    margin-bottom: 20px;
}

.news-feed-form .options-message {
    padding-top: 10px;
}

.thumb-image {
    width: 200px;
    padding: 5px;
}

#image-holder {
    border-bottom: 1px solid #e6ecf5;
}
