$black: #000;
$white: #fff;
$red: #ff0000;
$blue: #0000ff;
$default: #888da8;
$theme: #ff5e3a;

/*----------------------------------------------------------------
Generalization
-----------------------------------------------------------------*/

.width-100 {
    width: 100px;
}

.width-130 {
    width: 130px;
}

.icon-size {
    width: 20px !important;
    height: 18px !important;
}

.edit-post-modal .options-message {
    width: 20px !important;
    height: 18px !important;
    border-radius: 0 !important;
}

.post-type-icon .post-type {
    width: 18px !important;
    height: 16px !important;
    border-radius: 0 !important;
    margin-left: 3px;
}

.margin-top-5 {
    margin-top: 5px;
}

.padding-top-40 {
    padding-top: 40px;
}

// react list
.parent {
    position: relative;
    top: 0;
    left: 0;
}
.image-left {
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
}
.image-right {
    position: absolute;
    z-index: 2;
    left: 10px;
}

.no-margin-right {
    margin-right: 0px !important;
}

.no-margin-left {
    margin-left: 0px !important;
}

.display-none {
    display: none;
}

.display-inline {
    display: inline;
}

.cursor-pointer {
    cursor: pointer;
}

.no-event {
    pointer-events: none;
}

/*----------------------------------------------------------------
Login and Register page
-----------------------------------------------------------------*/

.btn-social {
    color: $white;
    font-weight: 700;
    background: $theme;
    border: $theme;
}

.btn-social {
    color: $white;
    font-weight: 700;
    background: $theme;
    border: $theme;
}
.btn-social:hover,
.btn-social:focus,
.btn-social:active {
    color: $white;
    background: $theme;
}
.btn-social:focus {
    background: $theme;
}

.btn-social:active:focus {
    background: $theme;
}

.form-box button {
    margin-top: 20px;
}

.form-box button[type="submit"] {
    width: 100%;
}

.reply {
    float: right;
    margin-right: 15px;
}

.login.form-box {
    height: 400px;
}

.register.form-box {
    height: 500px;
    top: 40%;
}

/*----------------------------------------------------------------
Forgot password page
-----------------------------------------------------------------*/

.email.form-box {
    width: 450px;
    height: 280px;
}

/*----------------------------------------------------------------
Social page
-----------------------------------------------------------------*/

.left-menu-title {
    padding-left: 10px;
}

textarea:focus,
input:focus {
    outline: none;
}

.post-status.title {
    padding-right: 200px;
}

.video-thumb .play-icon {
    width: auto;
    display: inline;
}

.w-last-video,
.video-player {
    .play-icon {
        width: auto;
        display: inline;
        padding-left: 5px;
    }
}

.olymp-three-dots-icon img {
    width: auto;
}

.btn-control.btn-more img {
    vertical-align: middle;
    padding-bottom: 8px;
}

.change-profile {
    width: 200px;
    float: right;
    font-size: inherit;
    margin-top: 10px;
}

.w-search {
    :focus {
        outline: none;
    }
    button img {
        margin-right: 0px;
    }
}

.post-add-icon span {
    color: $theme;
}

.remember-me {
    cursor: pointer;
}

.add-photo {
    padding-right: 0px;
}

.dropdown img {
    padding-top: 6px;
    float: right;
}

.mark-all {
    float: right;
    margin-top: 8px;
    :hover {
        color: $theme;
    }
}

.post-type {
    display: inline-block;
    width: 120px !important;
    margin-right: 15px;
    float: right;
}

.bootstrap-select > .dropdown-toggle {
    padding: 0.6rem 0.8rem !important;
}

.form-group.label-floating
    .bootstrap-select.btn-group
    .dropdown-toggle
    .filter-option {
    top: 2px !important;
}

.news-feed-form.single-post {
    overflow: auto;
}

.more-comments:hover {
    color: $theme;
}

#editPostModal img:not(.avatar) {
    width: auto;
    height: auto;
    border-radius: 0;
}

.personal .dropdown-toggle {
    padding: 0.97rem 1rem !important;
    font-size: 0.875rem;
}

.date-time-picker input {
    padding: 1rem 1.1rem 1.025rem !important;
}

.save-changes {
    float: right;
}

.show-post {
    font-size: 0.812rem;
    font-weight: 400 !important;
    line-height: 1.5;
    color: $default;
}

.show-post:hover {
    color: $theme;
}

.no-more {
    margin-bottom: 20px;
}

.friend-icon {
    margin-right: 25px;
}

.is-friend {
    border: 2px solid #fff;
}

.friend-check {
    margin-left: 5px;
    margin-bottom: 2px;
    color: #38a9ff;
}

.post-share {
    margin-left: 20px;
    border: 2px solid #e6ecf5;
    border-radius: 0.3rem;
    padding: 20px;
    background-color: #e6ecf5;
}

.add-options-message {
    float: none;
}

#sharePostModalLabel img {
    margin-right: 12px;
}

.input-image {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

label:hover {
    @extend .cursor-pointer;
}

.add-options-message {
    margin-bottom: 20px;
}

.news-feed-form .options-message {
    padding-top: 10px;
}

.thumb-image {
    width: 200px;
    padding: 5px;
}

#image-holder {
    border-bottom: 1px solid #e6ecf5;
}

.image-error {
    display: block;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}

.half-width img {
    width: 276px;
    height: 184px;
}

.default-avatar {
    width: 36px;
    height: 36px;
}

#default-avatar-profile {
    width: 124px;
    height: 124px;
    // Notifications panel
}

.control-icon {
    margin-right: 29px;
    fill: #9a9fbf;
    margin-top: 8px;
}
.control-icon > svg {
    height: 20px;
}
.control-icon.has-items {
    fill: #fff;
}
.control-icon .label-avatar {
    width: 19px;
    height: 19px;
    line-height: 19px;
    top: -12px;
    right: -9px;
}
.control-icon .dropdown {
    width: 380px;
    top: 35px;
    right: -180px;
    padding: 0 0 70px 0;
}
.control-icon .dropdown .view-all {
    padding: 20px;
    color: #fff;
}
.control-icon .dropdown .view-all:hover {
    color: #fff;
}
.control-icon .dropdown .notification-list {
    padding: 0;
}
.control-icon .ui-block-title a {
    display: inline-block;
    float: right;
    margin-left: 20px;
    text-transform: uppercase;
    font-size: 9px;
    padding: 0;
    font-weight: bold;
}
.control-icon .accept-request {
    padding: 0.5rem;
    font-size: 0.688rem;
    color: #fff;
    display: inline-block;
}
.control-icon .accept-request:hover {
    color: #fff;
}
.control-icon .notification-list .author-thumb {
    height: 34px;
    width: 34px;
    margin-right: 0;
    overflow: hidden;
}
.control-icon .notification-list .notification-friend {
    padding: 0;
    font-size: 14px;
}
.control-icon .notification-list .notification-link {
    padding: 0;
    display: inline-block;
}
.control-icon .notification-list .notification-event {
    width: 75%;
}
.control-icon .notification-list.friend-requests .accepted .notification-link {
    padding: 0;
    display: inline-block;
}
.control-icon .notification-list.friend-requests .accepted .notification-icon {
    margin-top: 0;
}
.control-icon .notification-list.friend-requests .notification-event {
    width: 60%;
}
.control-icon .notification-list .comment-photo {
    margin-top: 15px;
    max-width: 215px;
}
.control-icon .notification-list .comment-photo span {
    font-size: 11px;
}
.control-icon .notification-list li > * {
    vertical-align: top;
}
.control-icon .notification-list .notification-icon {
    margin-top: 0;
}
.control-icon .notification-list .notification-icon svg {
    height: 20px;
    width: 20px;
}
.control-icon .chat-message li.chat-group .author-thumb {
    width: 36px;
}
.control-icon .notification-list.chat-message .notification-icon svg {
    height: 24px;
    width: 24px;
}
.control-icon .mCustomScrollbar {
    overflow: hidden;
    max-height: 300px;
}
.control-icon .ps > .ps__scrollbar-y-rail,
.control-icon .ps:hover > .ps__scrollbar-y-rail {
    left: 0;
    top: 40px !important;
}

.more-with-triangle.triangle-top-center:before {
    margin-right: 100px;
}

.control-icon .label-avatar {
    top: -10px;
    right: 1px;
}

.notification-background {
    background-color: #fafbfd;
}

.notification-background:hover {
    background-color: #fafbfd !important;
}

.page-item.active .page-link {
    background-color: $theme;
    border: none;
}

.default-photo {
    height: 422.66px;
}

.photo-item-margin {
    border-left: none;
    margin: 0px 0px 0px 179px;
}

.btn-avatar, .btn-photo {
    margin: 10px 20px 10px 345px;
    display:none;
}
