$black: #000;
$white: #fff;
$red: #ff0000;
$blue: #0000ff;
$theme: #ff5e3a;

.btn-social {
    color: $white;
    font-weight: 700;
    background: $theme;
    border: $theme;
}

.btn-social {
    color: $white;
    font-weight: 700;
    background: $theme;
    border: $theme;
}
.btn-social:hover,
.btn-social:focus,
.btn-social:active {
    color: $white;
    background: $theme;
}
.btn-social:focus {
    background: $theme;
}

.btn-social:active:focus {
    background: $theme;
}

.form-box button {
    margin-top: 20px;
}

.form-box button[type="submit"] {
    width: 100%;
}

.padding-top {
    padding-top: 40px;
}

.reply {
    float: right;
    margin-right: 15px;
}

/*----------------------------------------------------------------
Login and Register page
-----------------------------------------------------------------*/

.register.form-box {
    height: 500px;
    top: 40%;
}

/*----------------------------------------------------------------
Forgot password page
-----------------------------------------------------------------*/

.email.form-box {
    width: 450px;
    height: 280px;
}

/*----------------------------------------------------------------
Social page
-----------------------------------------------------------------*/

.left-menu-title {
    padding-left: 10px;
}

textarea:focus,
input:focus {
    outline: none;
}

.ui-block-title img {
    margin-right: -12px;
}

.video-thumb .play-icon {
    width: auto;
    display: inline;
}

.w-last-video,
.video-player {
    .play-icon {
        width: auto;
        display: inline;
        padding-left: 5px;
    }
}

.olymp-three-dots-icon img {
    width: auto;
}

.btn-control.btn-more img {
    vertical-align: middle;
    padding-bottom: 8px;
}

.change-profile {
    width: 200px;
    float: right;
    font-size: inherit;
    margin-top: 10px;
}

.w-search {
    :focus {
        outline: none;
    }
    button img {
        margin-right: 0px;
    }
}

.post-add-icon span {
    color: $theme;
}

.remember-me {
    cursor: pointer;
}

.add-photo {
    padding-right: 0px;
}

.dropdown img {
    padding-top: 6px;
    float: right;
}

.mark-all {
    float: right;
    margin-top: 8px;
    :hover {
        color: $theme;
    }
}

// react list
.parent {
    position: relative;
    top: 0;
    left: 0;
}
.image-left {
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
}
.image-right {
    position: absolute;
    z-index: 2;
    left: 10px;
}

.no-margin-right {
    margin-right: 0px !important;
}

.no-margin-left {
    margin-left: 0px !important;
}

.post-type {
    display: inline-block;
    width: 150px;
    margin-left: 200px;
}

.bootstrap-select > .dropdown-toggle {
    padding: 0.6rem 0.8rem !important;
}

.form-group.label-floating
    .bootstrap-select.btn-group
    .dropdown-toggle
    .filter-option {
    top: 2px !important;
}

.news-feed-form.single-post {
    overflow: auto;
}
